####################################################################
#                  Fans
####################################################################

# part temporarily broken
# [fan]                              #Stealthburner part cooling fan
# pin: EBBCan:gpio13                 # Fan pin
# kick_start_time: 1                 # Startup time
# off_below: 0.05                    # Turn off fan below this value
# max_power: 1                       # Maximum power
# cycle_time: 0.01                   # Cycle time

[multi_pin rscs_12032_2x]
pins: PA0, PA3

[fan] # [fan_generic rscs_12032]
pin: multi_pin:rscs_12032_2x
kick_start_time: 10                # these fans need a long kickstart time to properly run
off_below: 0.11
max_power: 1
cycle_time: 0.00003

[heater_fan hotend_fan]
pin: EBBCan:gpio14                 # Hotend fan pin
heater: extruder                   # Associated heating device
heater_temp: 50.0                  # Temperature to start the fan

[fan_generic Fume_pack]
pin: PF7                    
max_power: 1.0  
shutdown_speed: 1.0          
kick_start_time: 1.0


# --------------------------------------------------------------------

[temperature_fan electronics_bay_fan]
pin: PF9
kick_start_time: 0.8             # Startup time
shutdown_speed: 0
max_power: 0.3                   # Maximum power
cycle_time: 0.00003
min_speed: 0.01                  # keep fans always on, at this speed the fan is very silent
sensor_type: temperature_host    # Sensor type
control: pid                     # Control method
min_temp: 0                      # Minimum temperature
max_temp: 85                     # Maximum temperature
pid_kp: 1.0                      # PID Kp value
pid_ki: 0.5                      # PID Ki value
pid_kd: 2.0                      # PID Kd value
# min_speed: 0.05                   # Minimum speed
max_speed: 1                     # Maximum speed
target_temp: 65                  # Target temperature



# --------------------------------------------------------------------
# Stepper driver cooling fan
# Note: do not use a cycle time with this fan, it will not work with pwm
[controller_fan driver_fan]      # Driver cooling fan
pin: PF6
max_power: 0.6                   # Maximum power
shutdown_speed: 0.0              # Shutdown speed
fan_speed: 1.0                   # Fan speed when heater or stepper driver is active (0.0 to 1.0). Default is 1.0.
idle_timeout: 90                 # Time in seconds to keep the fan running after the stepper driver or heater is no longer active. Default is 30 seconds.
idle_speed: 0.5                  # Fan speed after the stepper driver is no longer active and before idle_timeout is reached (0.0 to 1.0). Default is fan_speed.
stepper: stepper_x, stepper_x1, stepper_y, stepper_y1, stepper_z, stepper_z1, stepper_z2
# Define the name of the heater/stepper configuration section associated with this fan. 
# If a comma-separated list of heater/stepper names is provided here, the fan will be enabled when any of the given heaters/steppers are enabled.
# The default heater is "extruder", and the default stepper is all steppers.